<div class="header_div">

  <head>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/_header.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <nav>
    <div class="maps_profile">
      <a href="/maps">
        <i class="fa-solid fa-location-dot fa-2xl"></i>
      </a>

      <a href="/profiles">
        <button type="submit">Profile</button>
      </a>

    </div>

    <div class="reg_and_login">
      <form class="login_form" action="/login" method="POST">
        <textarea placeholder="Enter login: " name="username"></textarea>
        <button type="submit">Login</button>
      </form>

      <form action="/logout" method="POST" >
        <button type="submit" id="reg_button">Logout</button>
      </form>

    </div>

  </nav>

</div>
