<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Error Message</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/error.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script> const id = <%= userId %> </script>
  <script> const errorMsg = <%= errorMsg %> </script>

</head>

<body>
  <%- include('partials/_header') %>

  <form class="error_body" action="/maps" method="GET">
    <h2><%- errorMsg %></h2>
    <button type="submit">Redirect to the maps page</button>
  </form>

</body>

</html>
