<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="/styles/profile.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/faves.js"></script>

  <script> const id = <%= user_id %> </script>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="title">
    <h1>My Absolute FAVORITES</h1>
    <a href="/maps/create"> Create Map </a>
    <a href="/profiles"> Created by Me </a>
  </div>
  <div class="container"></div>
</body>


</html>

