<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map_view.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <div class="maps_joined">
    <div class="maps_left">

      <div class="title_favorite">
        <h1>Create Map</h1>
        <form action="/favorites/:id" method="POST" >
          <button type="submit" class="fav_button">Add To Fav</button>
        </form>
      </div>

      <div class="map">
          <form class="point_search" action="/maps/:id" method="POST" >
            <textarea placeholder="Search For Point: "></textarea>
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          </form>
          <div class="point_info">
            <img src="./icons8-martian-480.png" alt="Image of Point">
            <p>Name</p>
            <p>Address</p>
            <p>Edit</p>
            <p>Add</p>
            <p>Delete</p>
          </div>
      </div>

    </div>
    <div class="maps_right">
      <a href="/map:id">
        <h3>Example Map Title</h3>
      </a>
      <a href="/map:id">
        <h3>Example Map Title</h3>
      </a>
      <a href="/map:id">
        <h3>Example Map Title</h3>
      </a>
      <a href="/map:id">
        <h3>Example Map Title</h3>
      </a>
    </div>
  </div>

</body>

</html>
