<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map_view.css" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/> <!-- leaflet -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/map_view.js"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script> <!-- leaflet -->
  <script> const id = <%= id %> </script>
</head>

<body>

  <%- include('partials/_header') %>
  <div class="maps_joined">
    <div class="maps_left">

      <div class="title_favorite">
        <h1 id='mapTitle'></h1>
        <form action="/favorites/:id" method="POST" >
          <button type="submit" class="fav_button">Add To Fav</button>
        </form>
      </div>

      <div class="map">
        <div id="map">
          <form class="point_search" action="/maps/:id" method="POST" >
            <textarea placeholder="Search For Point: "></textarea>
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          </form>

        </div>
      </div>

    </div>
    <div class="maps_right">
      <h1>Maps<h1>
    </div>
  </div>

</body>

</html>
