.header_div {
  width: 100%;
  background-color: white;
  height: 130px;
  padding: 10px;
}

body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgb(82, 189, 238);
}

.maps_profile {
  display: flex;
  align-items: center;
}

.reg_and_login {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 20px;
  align-items: center;
  justify-content: flex-end;

  #reg_button {
    margin-left: 11px;
  }

  textarea {
    height: 48px;
    width: 150px;
    // resize: none;
    margin-right: 10px;
    // appearance: button;
    background-color: rgb(160, 150, 150);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0px;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }

  .login_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;

  }

  // button {
  //   height: 45px;
  //   width: 110px;
  // }
}

.fa-location-dot {
  color: black;
  margin: 3px solid white;
  padding-left: 20px;
  margin-right: 20px;
}

// <!-- HTML !-->
// <button class="button-50" role="button">Button 50</button>

/* CSS */
button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button :focus {
  text-decoration: none;
}

button :hover {
  text-decoration: none;
}

button :active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

button :not([disabled]):active {
  box-shadow: rgb(177, 144, 37) 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button  {
    padding: 12px 50px;
  }
}
