header {
  width: 100%;
  background-color: rgb(82, 189, 238);
  height: 130px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.maps_profile {
  display: flex;
  align-items: center;
}

.reg_and_login {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  align-items: center;

  #reg_button {
    margin-left: 20px;
  }

  textarea {
    height: 33px;
    width: 150px;
    resize: none;
    margin-right: 10px;
  }

  .login_form {
    display: flex;
    align-items: center;
  }

  button {
    height: 45px;
    width: 110px;
  }
}

.fa-globe {
  color: black;
  padding-left: 20px;
  margin-right: 20px;
}


